---

import NavBar from '../components/NavBar.jsx';
import Contact from '../components/Contact.jsx';
import '../styles/global.css';
import '../styles/navbar.css';

---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FullStack</title>
</head>
<body>
	<header>
		<NavBar/>
    </header>
    <main>
        <Contact/>
    </main>
</body>
</html>