---
import NavBar from '../components/NavBar';
import Footer from '../components/Footer';
import Services from '../components/Services';
import '../styles/global.css';
import '../styles/NavBar.css';
import '../styles/footer.css'
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FullStack</title>
</head>
<body>
		<NavBar/>
        <main>
            <Services/>
        </main>
        <Footer/>
</body>
</html>